.button {
  background-color: antiquewhite;
  padding: 15px;
  width: 150px;
  height: 45px;

  border: none;
  cursor: pointer;

  font-size: 20px;
  line-height: 16px;
  font-weight: 700;

  &:hover{
    border-radius: 5px;
    background-color: wheat;
  }
}
