@import "./scss/main.scss";

body{
  //background-image: url("src/assets/img/bcg_img.jpg");
  background-color: #F5DEB4;
}

img {
  width: 250px;
  height: 250px;
}

.img {
  display: flex;
  flex-direction: row;
}
